@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* background: #fffdf8; */
  color: #1f2937;
  /* background-image: url('assets/images/kisanbreed_backgound_wm.png'); */
}
